# Necessary for functioning
PUBLIC_KEYS='[comma-delimited public keys]'
PORT='8080'
SENTRY_DSN='[sentry DSN url]'
SENTRY_PERCENT=20
# Necessary for the Command Updater
APP_IDS='[application id]'
CLIENT_SECRETS='[token scrapers get owned challenge]'
BOT_TOKENS='[token scrapers get owned challenge]'
# Update a specific Guild's commands if defined.
# Otherwise update Global commands.
# GUILD_ID=''
