<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ title }}
    </title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <img src="/assets/avatar.png" />
      <ul>
        <li><a href="/">Sableye Bot</a></li>
        <li><a href="/PRIVACY">Privacy Policy</a></li>
        <li><a href="/TERMS">Terms of Use</a></li>
        <li><a href="/LICENSE">License</a></li>
      </ul>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer>
      <div class="top">
        Sableye Bot © 2021 Sableye Bot contributors
      </div>
      <div class="bottom">
        <a href="/README">Technical Details</a>
      </div>
    </footer>
  </body>
</html>
