:root {
  --color-accent: #9300fc4f;
  --color-bg: #222;
  --color-bg-secondary: #555;
  --color-link: #0097fc;
  --color-secondary: #e20de9;
  --color-secondary-accent: #e20de94f;
  --color-shadow: #bbbbbb20;
  --color-table: #0097fc;
  --color-text: #f7f7f7;
  --color-text-secondary: #aaa;
}

footer {
  background-color: #2d213d;
}
